li {
	font-size: 25px;
	}
	

	td {
		font-size: 25px;
		
	}
	h1 {
		font-size: 30px;
	}
	h2 {
		font-size: 25px;
	}
	
	h3 {
		font-size: 25px;
		
	}
	
	th {
		font-size: 25px;
	}
	
	body {
		font-size: 25px;
		
	}
	
	pre {
	text-align: left;
	font-size: 20px;
	background-color:wheat;
	color: blue;
	
	
		
	}
	
	img {
	
	background-color: teal;
	
	
	
	}
	